html, body {
    font-family: 'Lato', 'Noto Sans KR', Icon, sans-serif!important;
    background-color: #fafafa;
}
.gray-color {
    color: gray!important;
    font-weight: 500;
}
.template * {
    display: none;
}
.ui.modal .header {
    margin-bottom: 2px;
    font-family: 'Lato', 'Noto Sans KR', Icon, sans-serif!important;
}
.ui.modal img.image {
    max-width: initial;
    width: 300px;
}
.ui.modal .button {
    margin-top: 0.8em;
}
.ui.modal .ui.relaxed.list {
    margin-bottom: 1em;
}
.ui.modal .button-wrapper {
    margin: 0!important;
}
.pusher > .ui.container {
    margin: 0!important;
}
.article {
    margin-left: 18rem;
    margin-bottom: 6em;
    padding: 5em 7em 0 7em;
    min-height: calc(100vh - 160px);
}
.ui.menu.main-header {
    margin: 0;
    display: none;
}
.ui.vertical.footer.segment {
    letter-spacing: -.2px;
    margin-left: 18em;
    padding: 4em;
}
.menu .item b{
    color: #000!important;
}
.menu .image {
    margin-right: 1em;
}
.article .explain {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: right;
}
.c-day-wrapper {
    display: flex;
    justify-content: center;
    margin: 1em 0
}
.c-day-wrapper .c-day {
    font-family: Noto Sans KR;
    position: relative;
    flex: 1;
    height: 35px;
    text-align: center;
    letter-spacing: -.2px;
    border: .3px solid rgba(34,36,38,.15);
    border-radius: 10px;
    margin: 0 8px 0 0;
    background-color: #fdfdfd;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0,0,0,.05);
    z-index: 1;
    bottom: 0;
    transition: bottom 75ms ease-in
}
.c-day-wrapper .c-day.active {
    font-weight: 700;
    color: #FFF!important;
    background-color: #86D8C9!important;
}
.c-day-wrapper .c-day:hover {
    bottom: 5px
}
.c-day-wrapper .c-day:first-child {
    margin-left: 0
}
.c-day-wrapper .c-day:last-child {
    margin-right: 0
}
.c-animes {
    min-height: 235px;
}
.c-animes a.item {
    position: relative;
    display: block;
    border-left: 8px solid #86d8c9;
    border-bottom: 1px solid rgba(34,36,38,.15);
    border-radius: 3px;
    margin-bottom: 14px;
    padding: 15px;
    height: fit-content;
    color: #000!important;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0,0,0,.05);
    cursor: pointer;
    transition: border-left 80ms ease-in, background-color 80ms ease-in, box-shadow 80ms ease-in;
}
.c-animes a.item:hover {
    border-left: 8px solid #75b8ab;
    background-color: rgb(250, 250, 250);
    box-shadow: 4px 8px 14px 4px rgba(0,0,0,.05);
}
.c-animes a.item:last-child {
    border-bottom: 1px solid rgba(255,255,255,.5)
}
.c-animes .title {
    font-family: Noto Sans KR;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.75px;
    margin: 0 160px 6px 0
}
.c-animes .right {
    position: absolute;
    display: flex;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    transform-origin: right;
}
.c-animes .schedule, .c-animes .info {
    border-radius: 5px;
    margin-right: 4px;
    padding: 8px;
    transition: background-color 80ms ease-in;
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
}
.c-animes .schedule {
    background-color: #86d8c9;
}
.c-animes .info {
    background-color: #f79b9b;
}
.c-animes .time {
    display: inline;
    letter-spacing: 0;
    white-space: nowrap;
    color: #fff
}
.c-animes .link {
    font-size: 12px
}
.a-animes .release {
    display: none;
}
.c-animes a.item:hover .schedule {
    background-color: #75b8ab
}
.c-animes a.item:hover .info {
    background-color: #da8a8a
}
@media screen and (max-width : 1080px) {
    .ui.large.left.fixed.vertical.menu {
        display: none;
    }
    .article {
        margin-left: 0;
    }
    .ui.vertical.footer.inverted.segment {
        margin-left: 0;
    }
    .ui.menu.main-header {
        display: flex;
    }
}
@media screen and (max-width : 768px) {
    body > .ui.container {
        margin: 0!important;
    }
    .article {
        padding: 5em 1em 0 1em;;
    }
    .c-day-wrapper .c-day {
        margin: 1.5px;
        padding: 0 7.5px;
    }
    .c-animes a.item .right {
        flex-flow: column nowrap;
        top: 53%;
        right: 10px;
    }
    .c-animes a.item .title {
        margin-right: 85px;
    }
    .c-animes a.item .right > div {
        margin-bottom: 4px;
        padding: 5px;
        text-align: center;
    }
    .ui.modal {
        width: 90%;
    }
    .ui.modal img.image {
        max-width: 230px;
        margin: 0 auto;
    }
}